<div class="container">
  <form action="" [formGroup]="userDetailsForm">
    <div class="input">
      <label for="firstName">firstName</label>
      <input name="firstName" formControlName="firstName" type="text">
    </div>
    <span style="color: red;font-weight: bold;" *ngIf="checkRequiredCondition(this.userDetailsForm.get('firstName'))">First Name is required</span>
    <div class="input">
      <label for="middleName">middleName</label>
      <input name="middleName" formControlName="middleName" type="text">
    </div>

    <div class="input">
      <label for="lastName">lastName</label>
      <input name="lastName" formControlName="lastName" type="text">
    </div>
    <div class="input">
      <label for="email">email</label>
      <input name="email" formControlName="email" type="text">
      </div>
      <span  style="color: red;font-weight: bold;" *ngIf="checkRequiredCondition(this.userDetailsForm.get('email'))">Email is required</span>
      <span  style="color: red;font-weight: bold;" *ngIf="checkInvalidCondition(this.userDetailsForm.get('email'))">Email is invalid</span>
    
    <div class="input">
      <label for="number">phoneNumber</label>
      <input formControlName="phoneNumber" name="number" type="number">
    </div>
    <span  style="color: red;font-weight: bold;" *ngIf="checkRequiredCondition(this.userDetailsForm.get('phoneNumber'))">Number is required</span>
    <span  style="color: red;font-weight: bold;" *ngIf="checkInvalidCondition(this.userDetailsForm.get('phoneNumber'))">Number is invalid</span>

    <div class="input">
      <label for="role">role</label>
      <input formControlName="role" name="role" type="text">
    </div>
    <span  style="color: red;font-weight: bold;" *ngIf="checkRequiredCondition(this.userDetailsForm.get('role'))">Role is required</span>

    <div class="input">
      <label for="address">address</label>
      <input name="address" formControlName="address" type="text">
    </div>
    <span  style="color: red;font-weight: bold;" *ngIf="checkRequiredCondition(this.userDetailsForm.get('address'))">Address is required</span>

  </form>
</div>

<div class="btncontainer">
  <button [ngStyle]="{'display':this.userDetailsForm.invalid?'none':''}"  class="btn" (click)="onSave()">Save</button>
  <button class="btn" (click)="onCancel()">Cancel</button>
</div>